<head>
    <link rel="stylesheet" href="~/css/gradientBut.css" />
</head>
<div style="text-align:center">
    @{
    ViewData["Title"] = "О нас";
    }
    <h1>@ViewData["Title"]</h1>
    <img src="/img/holl.jpg" width="500" height="500" alt="картинка" /><p></p>
    <p>
        <i>
            Наш отель уютный и небольшой, окутанный атмосферой непринужденности, в которой каждый гость почувствует себя комфортно, располагает общими помещениями – холлом, администрацией и баром.
            Кроме удобного лифта на верхние этажи ведет великолепная лестница. Тут вас ждут со вкусом оформленные номера с лучшими удобствами – все для приятного отпуска. На террасе с видом на море, расположенной на последнем этаже, отведен уголок для желающих выкурить сигарету.
            В распоряжении клиентов гостиницы Интернет и беспроводное соединение, зал для чтения международной прессы и телезал, администрация, работающая круглосуточно, услуги прачечной и гладильной. Портье, владеющий несколькими языками, предоставит вам необходимую помощь при заказе экскурсий в сопровождении гида, поездок и трансфера из аэропорта и железнодорожного вокзала и обратно. Завтрак шведский стол подается в зале, смежном с гостиницей.
            Если среди отелей вы ищете недорогую и элегантную трехзвездочную гостиницу, расположенную возле моря, с внимательным персоналом и радушием отеля с семейным управлением, то наш отель – это лучшее решение!
        </i>
    </p>
    <div>
        <a class="pressed-button" asp-controller="Home" asp-action="Index">Быстрее забронийруйте номер!</a>
    </div>
</div>
